<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Iniciar Sesión | Crescent Eclipse </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="../assets/media/logosm.png">
  </head>
  <body class="index">
    <script src="../js/main.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/styles.css">
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.min.css">

    <header>
        <nav class="navbar">
            <a class="navbar-brand" href="../index.html">
                <img class="nav-ico" src="../assets/media/logo.png" alt="Logo Principal">
                <span class="inicio-text">Crescent Eclipse</span>
            </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                    <a href="../templates/tienda.html" class="btn btn-outline-info btn-lg">Tienda</a>
                    <a id= "registerLink" class="btn btn-outline-primary btn-lg" aria-current="page" href="../templates/register.html">Registrarse</a>
                    <a id="loginLink" class="btn btn-outline-danger btn-lg" aria-current="page" href="../templates/login.html">Iniciar Sesion</a>
                    <button id="logoutLink" class="btn btn-outline-danger btn-lg" aria-current="page" onclick="logout()" >Cerrar sesión</button>
                    <button class="carritobutton" onclick="mostrarCarrito()"></button>
            </li>
        </ul>
        </nav>
    </header>
    
    <main>
        <div class="container">
        <h1 class="title2">Inicia Sesión</h1>
        </div>
        <br>
        <form class="form-container" onsubmit="login(event)">
                    <label class="form-text" for="loginUsername">Usuario:</label>
                    <input class="input" type="text" id="loginUsername" name="loginUsername" required><br>
                    <label class="form-text" for="loginPassword">Contraseña: </label>
                    <input class="input" type="password" id="loginPassword" name="loginPassword" required><br><br>
                    <button class="btn btn-dark btn-lg" type="submit">Iniciar Sesión</button>
        </form>
        </div>
    </main>

    <footer class="footer-bottom0">
        <section class="footer-container">
        <div class="footer-item">
          <p>Redes sociales:</p>
          <p class="footer-txt"><img class="icon" src="../assets/media/icons8-instagram-50.png" alt="Instagram logo"> @CrescentEclipse_ig</p>
          <p class="footer-txt"><img class="icon" src="../assets/media/icons8-twitterx-50.png" alt="X logo"> @CrescentEclipse_tw</p>
        </div>
        <div class="footer-item2">
          <p>Contacto:</p>
          <p class="footer-txt"><img class="icon" src="../assets/media/icons8-nuevo-post-50.png" alt="Mail logo"> CrescentEclipse@gmail.com</p>
          <p class="footer-txt"><img class="icon" src="../assets/media/icons8-whatsapp-50.png" alt="Whatsapp logo"> +12 3 444 567 8900</p>
        </div>
        <div class="footer-item">
          <img src="../assets/media/logo.png" alt="logo">
          <p class="copyright">Copyright ©2016-2024</p>
        </div>
        </section>
      </footer>

</body>
</html>


